{% extends 'base.html' %}

{% block header %}
  <h1>Who I follow</h1>
{% endblock %}

{% block content %}
<form method="POST">
{% if followers_headings %}
<table>
    <tr>
        {% for header in followers_headings[1:] %}
        <td><b>{{ header }} </b></td>
        {% endfor %}
    </tr>
    {% for row in followers %}
    <tr>
        {% for cell in row[1:] %}
        <td>{{ cell }}</td>
        {% endfor %}
        <input id="more" name="more"
        type="hidden" value="{{ row[0] }}">
        <td><a href={{ url_for('userprofile.show', user_id=row[0]) }}>Details</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</form>
{% endblock %}