{% extends 'base.html' %}

{% block header %}
  <h1>Edit my post</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {# This hidden_tag is a CSRF security feature. #}
    <h3>Post Infomation</h3>
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title }}<br>
    {{ form.post.label }} {{ form.post }}<br>
    {{ form.open_to.label }} {{ form.open_to }}<br>
    {{ form.submit() }}
  </form>
    <h3>Post Delete</h3>
  <form action="{{ url_for('post.delete', post_id = post['post_id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
