{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('post.createpost') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h2>{{ post['title'] }}</h2>
          <div class="about">by <a href={{ url_for('userprofile.show', user_id=post['user_id']) }}>{{ post['username'] }}</a>, {{ post['datetime'].strftime("%m/%d/%Y, %H:%M:%S")}}</div>
        </div>
        {% if g.user['user_id'] == post['user_id'] %}
          <a class="action" href="{{ url_for('post.update', post_id=post['post_id']) }}">Edit</a>
        {% endif %}
        <a class="action" href="{{ url_for('post.createcomment', post_id=post['post_id']) }}">Make a comment</a>
        <!-- <a class="action" href="{{ url_for('post.like', post_id=post['post_id']) }}">like or not</a> -->
      </header>

      <p class="body"> <big>{{ post['content'] }}</big></p>
      
      <article class="post">
        {% if [post['post_id']] not in responsed_post%}
          <a href={{ url_for('post.like', post_id=post['post_id']) }}><img src="../../static/images/like.png" alt="Snow" width="24"></a> <i>{{ like_dislike_dict[post['post_id']]['like_sum'] }} &nbsp &nbsp &nbsp</i>
          <a href={{ url_for('post.dislike', post_id=post['post_id']) }}><img src="../../static/images/dislike.png" alt="Snow" width="24"></a> <i>{{ like_dislike_dict[post['post_id']]['dislike_sum'] }} </i>
        {% else %}
          <img src="../../static/images/like.png" alt="Snow" width="24"> <i>{{ like_dislike_dict[post['post_id']]['like_sum'] }} &nbsp &nbsp &nbsp</i>
          <img src="../../static/images/dislike.png" alt="Snow" width="24"> <i>{{ like_dislike_dict[post['post_id']]['dislike_sum'] }} </i>
        {% endif %}
      <h4> Comments:</h4>
     </article>
      {% for comment in comments %}
        {% if comment['post_id'] == post['post_id'] %}
        <article class="post">
          {% if comment['if_anonymous'] %}
          <li class="list-group-item">Anonymous: {{ comment['content'] }}</li>
          {% else %}
          <li class="list-group-item"><a href={{ url_for('userprofile.show', user_id=comment['user_id']) }}>{{ comment['username'] }}</a>: {{ comment['content'] }}</li>
          {% endif %}
        </article>
        {% endif %}
      {% endfor %}

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
