{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('post.createpost') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }}</div>
        </div>
        {% if g.user['user_id'] == post['user_id'] %}
          <a class="action" href="{{ url_for('post.update', post_id=post['post_id']) }}">Edit</a>
        {% endif %}
        <a class="action" href="{{ url_for('post.createcomment', post_id=post['post_id']) }}">Make a comment</a>
      </header>

      <p class="body"> Post: {{ post['content'] }}</p>
      <p> Open to: {{ post['open_to']}}</p>
      <p class="Datetime"> Post Datetime: {{ post['datetime']}}</p>

      {% for like in Liked %}
        {% if like['post_id'] == post['post_id'] %}
        <article class="post">
          <li class="list-group-item">{{ like['if_like'] }}</li>
        </article>
        {% endif %}
      {% endfor %}

      <p> Comments:</p>
      {% for comment in comments %}
        {% if comment['post_id'] == post['post_id'] %}
        <article class="post">
          <li class="list-group-item">{{ comment['content'] }}</li>
        </article>
        {% endif %}
      {% endfor %}

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
