{% extends 'adminbase.html' %}

{% block header %}
  <h1>{% block title %}Bolumbia Admin page{% endblock %}</h1>
{% endblock %}

{% block content %}
  <b><p>Dear admin {{g.user['username']}}</p></b>

  {% if not all_clear %}

  <ul>

    <li>You have {{unapproved_count}} <a href="{{ url_for('admin.eventapprove') }}">unapproved  events</a></li>
    <li>You have {{unanswered_count}} <a href="{{ url_for('admin.indexQA') }}">unanswered questions</a></li>

  </ul>

  {% else %}

  All clear, enjoy your day

  {% endif %}
 {% endblock %}
