{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Answer{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.Answer.label }} {{ form.Answer }}<br>
    {{ form.submit() }}
  </form>
  <h3>Answer Delete</h3>
<form action="{{ url_for('QA.deleteanswer', questiontitle_id = questiontitle_id) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>

{% endblock %}
