{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Book routine{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.place_name.label }} {{ form.place_name}}<br>
    {{ form.date.label }} {{ form.date}}<br>
    {{ form.submit() }}

{% if res %}
<table>
    <tr>
        {% for header in headings[1:] %}
        <td><b>{{ header }} </b></td>
        {% endfor %}
    </tr>
    {% for row in res %}
    <tr>
        {% for cell in row[1:] %}
        <td>{{ cell }}</td>
        {% endfor %}
        <input id="book_id" name="book_id"
        type="hidden" value="{{ row[0] }}">
        <td><button type="submit" name="bookbutton" value="{{ row[0] }}"
                    formmethod="post">Book</button></td>

    </tr>
    {% endfor %}
</table>
{% endif %}

</form>

{% endblock %}