{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bolumbia Gym{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nesciunt dolores optio veniam laboriosam, vitae cumque enim delectus quos eligendi a corrupti natus, sequi, cum quisquam est officiis nam consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ducimus cumque excepturi ut velit eaque incidunt, debitis quos aspernatur repudiandae assumenda voluptas totam odit quis neque fugit. Hic, voluptatem vero?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, atque! Natus accusamus omnis aliquid facilis! Ad voluptates dolore beatae magnam at rem earum. Dignissimos laborum consectetur et ex, quod culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo id sequi dicta eum sit totam unde, voluptatibus, quod commodi corporis cupiditate dolorem consectetur sunt corrupti harum dolores obcaecati aut incidunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium neque sed maiores culpa dolor officiis unde blanditiis suscipit molestias ex, natus sint non fugit alias expedita, magnam vel nisi porro.</p>
{% endblock %}

